body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(http://www.ohdisco.com/images/screen_1_small.png);
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;

}

a:hover{
  cursor:pointer;
  text-decoration: underline;
}


.title, .actionButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.bulge{
  border-width:40px;
  border-radius:50%;
}

.white{
  border-color: white;
}

.black{
  border-color: black;
}

.image{
  width: 80px;
  height: 80px;
  border-width: 0px;
}